---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { menuItems } from "../data/menu.js";

 //Agrupamos los items por categoría
const categories = [...new Set(menuItems.map(item => item.category))]
---

<Layout title="Our Menu">
    <Header />
    <main class="grow">
        <header class="flex justify-center items-center w-screen h-16 bg-[#785034] shadow-md mb-5 font-bold text-white text-xl"> 
            <h1>Our Menu</h1> 
        </header>

        {
            //Iterar sobre las categorías
            categories.map(category => (
                <section class="mb-2">
                    <h2 class="text-3xl font-semibold ml-2">
                        {category}
                    </h2>
                    
                    {/* Iterar sobre los ítems dentro de la categoría */}
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                        {menuItems
                            .filter(item => item.category === category)
                            .map(item => (
                                <article class="bg-white shadow-lg rounded-2xl transition hover:shadow-xl m-3">
                                    {<img src={`/premain-image.svg`} alt={item.name} class="w-full h-40 object-cover mb-3" />}
                                    <div class="flex flex-col items-center text-center pb-3">
                                        <h3 class="text-xl font-bold text-[#233F4C]">{item.name}</h3>
                                        <p class="text-sm text-gray-600 mb-2">{item.description}</p>
                                        <p class="text-lg font-semibold text-[#265738]">${item.price.toFixed(2)}</p>
                                    </div>
                                    
                                </article>
                            ))
                        }
                    </div>
                </section>
            ))
        }
    </main>
    <Footer />
</Layout>